<html>
    <p>Hi there!</p>
    <p>It works!</p>
</html>
 <html>
        <head>
            <title>Aidai's blog</title>
        </head>
        <body>
            <p>Hi there!</p>
            <p>It works!</p>
        </body>
    </html>
    <html>
        <head>
            <title>blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">today ian done Blog</a></h1>
            </div>

            <div>
                <p>published: 1.10.2017, 12:14</p>
                <h2><a href="">My first post and the first lesson</a></h2>
                <p>hakkkkkkkkkkkkkk.</p>
            </div>

            <div>
            	<p>published: 1o.10.2017, 12:14</p>
                <h2><a href="">My second post</a></h2>
                <p>some spanish.</p>
        </body>
    </html>